Pods
IDEWorkspaceChecks.plist
contents.xcworkspacedata
Breakpoints_v2.xcbkptlist
StrongVPN.xcworkspace/xcuserdata/thongvo.xcuserdatad/xcschemes
IDEFindNavigatorScopes.plist
WorkspaceSettings.xcsettings
